body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 7em;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 7em;
  color: white;
  background-color: blue;
  font-family: cursive;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.Spin {
  display: block;
  font-size: 9rem;
  transition:all  0.5s linear;
  animation: spin 3s  ease-in infinite;
  perspective: 50px;
}

@keyframes spin {
  0% {
    transform: scale(1);
    color: hsl(240, 100%, 49%);
  }
  10% {
    transform: scale(0.6);
    color: hsl(240, 90%, 49%);
  }

  20% {
    transform: rotate(60deg) scale(1.1);
    color: hsl(300, 80%, 49%);

  }

  40% {
    color: hsl(360, 60%, 49%);
    transform: rotate(120deg) scale(0.3);
  }

  60% {
    color: hsl(400, 40%, 49%);
    transform: rotate(180deg) scale(.9);
  }

  80% {
    color: hsl(460, 20%, 49%);
    transform: rotate(240deg) scale(.5);
  }

  90% {
    color: hsl(520, 10%, 49%);
    transform: scale(0.6);
  }
  100% {
    color: hsl(240, 100%, 49%);
    transform: scale(1);
  }
}
div>.Spin{
  background-color: white;
  color:white;
  position:fixed;
  height: 527px;
  width: 501px;
  z-index: 2;
  font-family: cursive;
  text-align: center;
  left:1rem;
}